@font-face {
  font-family: 'fontello';
  src: url('./fontello.woff2') format('woff2'),
       url('./fontello.woff') format('woff'),
       url('./fontello.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-']::before,
[class*=' icon-']::before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search::before { content: '\e800'; }
.icon-hot::before { content: '\e801'; }
.icon-nav-user::before { content: '\e802'; }
.icon-session-history::before { content: '\e803'; }
.icon-account-history::before { content: '\e804'; }
.icon-finance-history::before { content: '\e805'; }
.icon-bet-history::before { content: '\e806'; }
.icon-verification::before { content: '\e807'; }
.icon-user::before { content: '\e808'; }
.icon-refresh::before { content: '\e809'; }
.icon-nav-promotions::before { content: '\e80a'; }
.icon-nav-betongames::before { content: '\e80b'; }
.icon-nav-zeplin::before { content: '\e80c'; }
.icon-nav-bingo::before { content: '\e80d'; }
.icon-nav-poker::before { content: '\e80e'; }
.icon-nav-livesport::before { content: '\e80f'; }
.icon-nav-casino::before { content: '\e810'; }
.icon-nav-prematch::before { content: '\e811'; }
.icon-down-open::before { content: '\e812'; }
.icon-left-open::before { content: '\e813'; }
.icon-right-open::before { content: '\e814'; }
.icon-up-open::before { content: '\e815'; }
.icon-right-dir::before { content: '\e816'; }
.icon-left-dir::before { content: '\e817'; }
.icon-up-dir::before { content: '\e818'; }
.icon-down-dir::before { content: '\e819'; }
.icon-email::before { content: '\e81a'; }
.icon-ok::before { content: '\e81b'; }
.icon-cancel::before { content: '\e81c'; }
.icon-help::before { content: '\e81d'; }
.icon-right::before { content: '\e81e'; }
.icon-deposit::before { content: '\e81f'; }
.icon-age-warning::before { content: '\e820'; }
.icon-live-support::before { content: '\e821'; }
.icon-hamburger::before { content: '\e822'; }
.icon-games::before { content: '\e823'; }
.icon-cherry::before { content: '\e824'; }
.icon-dice::before { content: '\e825'; }
.icon-wallet::before { content: '\e826'; }
.icon-tablet::before { content: '\e827'; }
.icon-mobile-1::before { content: '\e828'; }
.icon-card-roulette::before { content: '\e829'; }
.icon-card-blackjack::before { content: '\e82a'; }
.icon-key::before { content: '\e82b'; }
.icon-card-new::before { content: '\e82c'; }
.icon-card-popular::before { content: '\e82d'; }
.icon-card-all::before { content: '\e82e'; }
.icon-card-baccarat::before { content: '\e82f'; }
.icon-card-poker::before { content: '\e830'; }
.icon-exchange::before { content: '\e831'; }
.icon-transfer-horizontal::before { content: '\e832'; }
.icon-play::before { content: '\e833'; }
.icon-alert-error::before { content: '\e834'; }
.icon-alert-warning::before { content: '\e835'; }
.icon-alert-success::before { content: '\e836'; }
.icon-enter::before { content: '\e837'; }
.icon-new-user::before { content: '\e838'; }
.icon-twitter-circle::before { content: '\e839'; }
.icon-instagram-circle::before { content: '\e83a'; }
.icon-facebook-circle::before { content: '\e83b'; }
.icon-resize-full::before { content: '\e83c'; }
.icon-popup::before { content: '\e83d'; }
.icon-discount::before { content: '\e83e'; }
.icon-transfer::before { content: '\e83f'; }
.icon-pencil-1::before { content: '\e841'; }
.icon-pencil-2::before { content: '\e842'; }
.icon-pencil-3::before { content: '\e843'; }
.icon-clock::before { content: '\e844'; }
.icon-messenger::before { content: '\e845'; }
.icon-home::before { content: '\e846'; }
.icon-user-times-1::before { content: '\e847'; }
.icon-user-times-2::before { content: '\e848'; }
.icon-clubs::before { content: '\e849'; }
.icon-diamonds::before { content: '\e84a'; }
.icon-hearts::before { content: '\e84b'; }
.icon-spades::before { content: '\e84c'; }
.icon-user-times-3::before { content: '\e84d'; }
.icon-whatsapp-filled::before { content: '\e84e'; }
.icon-box-worldcup::before { content: '\e84f'; }
.icon-block-user::before { content: '\e850'; }
.icon-calendar::before { content: '\e851'; }
.icon-delete-user-1::before { content: '\e852'; }
.icon-history::before { content: '\e853'; }
.icon-races::before { content: '\e854'; }
.icon-star::before { content: '\e858'; }
.icon-star-line::before { content: '\e859'; }
.icon-jackpot-2::before { content: '\e85c'; }
.icon-jackpot-1::before { content: '\e85d'; }
.icon-lottery-1::before { content: '\e85e'; }
.icon-discord::before { content: '\e85f'; }
.icon-pinterest-1::before { content: '\e861'; }
.icon-threads::before { content: '\e864'; }
.icon-reddit::before { content: '\e865'; }
.icon-tumblr::before { content: '\e867'; }
.icon-linkedin::before { content: '\e868'; }
.icon-plane::before { content: '\e871'; }
.icon-tik-tok::before { content: '\e872'; }
.icon-twitter-x-black::before { content: '\e873'; }
.icon-twitter-x::before { content: '\e874'; }
.icon-crown::before { content: '\e875'; }
.icon-crown-v2::before { content: '\e876'; }
.icon-crown-v3::before { content: '\e877'; }
.icon-aviator::before { content: '\e878'; }
.icon-arcade::before { content: '\e879'; }
.icon-bell::before { content: '\e87b'; }
.icon-bingo::before { content: '\e87c'; }
.icon-cards-king::before { content: '\e87e'; }
.icon-blog::before { content: '\e87f'; }
.icon-cherry-1::before { content: '\e880'; }
.icon-blackjack::before { content: '\e881'; }
.icon-cherries::before { content: '\e882'; }
.icon-clover-2::before { content: '\e883'; }
.icon-cards-ace::before { content: '\e884'; }
.icon-chevron::before { content: '\e885'; }
.icon-diamond-2::before { content: '\e888'; }
.icon-dice-1::before { content: '\e889'; }
.icon-dices-2::before { content: '\e88a'; }
.icon-casino::before { content: '\e88b'; }
.icon-casino-chip::before { content: '\e88c'; }
.icon-fire::before { content: '\e88d'; }
.icon-esport-aoe::before { content: '\e88e'; }
.icon-cards-spades::before { content: '\e88f'; }
.icon-dice-2::before { content: '\e890'; }
.icon-chip::before { content: '\e891'; }
.icon-diamond::before { content: '\e892'; }
.icon-fist::before { content: '\e893'; }
.icon-card-deck::before { content: '\e895'; }
.icon-cherry-2::before { content: '\e896'; }
.icon-game-pad::before { content: '\e897'; }
.icon-generic-casino::before { content: '\e898'; }
.icon-game-shows::before { content: '\e899'; }
.icon-lottery-ball::before { content: '\e89a'; }
.icon-clover::before { content: '\e89b'; }
.icon-jackpot::before { content: '\e89c'; }
.icon-poker-chip::before { content: '\e89f'; }
.icon-mini-roulette::before { content: '\e8a0'; }
.icon-explosion::before { content: '\e8a1'; }
.icon-latest-releases::before { content: '\e8a2'; }
.icon-poker-cards::before { content: '\e8a3'; }
.icon-live::before { content: '\e8a4'; }
.icon-poker-cards-2::before { content: '\e8a5'; }
.icon-provably-fair::before { content: '\e8a6'; }
.icon-horse-racing::before { content: '\e8a7'; }
.icon-promo::before { content: '\e8a8'; }
.icon-original::before { content: '\e8a9'; }
.icon-gift-box::before { content: '\e8aa'; }
.icon-rising-stars::before { content: '\e8ab'; }
.icon-roulette::before { content: '\e8ac'; }
.icon-roulette-table::before { content: '\e8ad'; }
.icon-prize::before { content: '\e8ae'; }
.icon-joker::before { content: '\e8af'; }
.icon-roulette-2::before { content: '\e8b0'; }
.icon-referrals::before { content: '\e8b1'; }
.icon-slots::before { content: '\e8b2'; }
.icon-poker::before { content: '\e8b3'; }
.icon-poker-2::before { content: '\e8b4'; }
.icon-spade-token::before { content: '\e8b5'; }
.icon-slot-machine-4::before { content: '\e8b6'; }
.icon-spade::before { content: '\e8b7'; }
.icon-slot-machine::before { content: '\e8b9'; }
.icon-football-ball::before { content: '\e8bb'; }
.icon-seven::before { content: '\e8bc'; }
.icon-featured::before { content: '\e8be'; }
.icon-win-crown::before { content: '\e8bf'; }
.icon-table-games::before { content: '\e8c0'; }
.icon-trophy::before { content: '\e8c1'; }
.icon-mine::before { content: '\e8c2'; }
.icon-top-hat::before { content: '\e8c3'; }
.icon-target::before { content: '\e8c4'; }
.icon-video-poker::before { content: '\e8c5'; }
.icon-esport-fifa::before { content: '\e8c6'; }
.icon-rocket::before { content: '\e8c7'; }
.icon-watermelon::before { content: '\e8c8'; }
.icon-slot-machine-3::before { content: '\e8c9'; }
.icon-chip-token::before { content: '\e8ca'; }
.icon-slot-machine-2::before { content: '\e8cb'; }
.icon-win-banner::before { content: '\e8cc'; }
.icon-twitter-circle-1::before { content: '\e8d3'; }
.icon-facebook-circle-v2::before { content: '\e8d4'; }
.icon-pinterest-circle::before { content: '\e8d5'; }
.icon-instagram-circle-1::before { content: '\e8d6'; }
.icon-instagram-cube::before { content: '\e8d7'; }
.icon-whatsapp-circle::before { content: '\e8d8'; }
.icon-youtube-circle::before { content: '\e8d9'; }
.icon-linkedin-1::before { content: '\e8da'; }
.icon-desktop::before { content: '\f108'; }
.icon-youtube-play::before { content: '\f16a'; }
.icon-instagram::before { content: '\f16d'; }
.icon-pinterest::before { content: '\f231'; }
.icon-whatsapp::before { content: '\f232'; }
.icon-user-times::before { content: '\f235'; }
.icon-telegram::before { content: '\f2c6'; }
.icon-twitter::before { content: '\f309'; }
.icon-facebook::before { content: '\f30c'; }
.icon-mnav-beton-1::before { content: '\f30d'; }
.icon-mnav-beton-2::before { content: '\f30e'; }
.icon-mnav-beton-3::before { content: '\f30f'; }
.icon-mnav-beton-4::before { content: '\f310'; }
.icon-mnav-beton-5::before { content: '\f311'; }
.icon-mnav-casino-1::before { content: '\f312'; }
.icon-mnav-casino-2::before { content: '\f313'; }
.icon-mnav-casino-3::before { content: '\f314'; }
.icon-mnav-casino-4::before { content: '\f315'; }
.icon-mnav-casino-5::before { content: '\f316'; }
.icon-mnav-casino-6::before { content: '\f317'; }
.icon-mnav-e-sport-1::before { content: '\f318'; }
.icon-mnav-e-sport-2::before { content: '\f319'; }
.icon-mnav-e-sport-3::before { content: '\f31a'; }
.icon-mnav-e-sport-4::before { content: '\f31b'; }
.icon-mnav-e-sport-5::before { content: '\f31c'; }
.icon-mnav-games-1::before { content: '\f31d'; }
.icon-mnav-games-2::before { content: '\f31e'; }
.icon-mnav-games-3::before { content: '\f31f'; }
.icon-mnav-games-4::before { content: '\f320'; }
.icon-mnav-games-5::before { content: '\f321'; }
.icon-mnav-home-1::before { content: '\f322'; }
.icon-mnav-home-2::before { content: '\f323'; }
.icon-mnav-home-3::before { content: '\f324'; }
.icon-mnav-home-4::before { content: '\f325'; }
.icon-mnav-home-5::before { content: '\f326'; }
.icon-mnav-live-casino-1::before { content: '\f327'; }
.icon-mnav-live-casino-2::before { content: '\f328'; }
.icon-mnav-live-casino-3::before { content: '\f329'; }
.icon-mnav-live-casino-4::before { content: '\f32a'; }
.icon-mnav-live-casino-5::before { content: '\f32b'; }
.icon-mnav-live-sport-1::before { content: '\f32c'; }
.icon-mnav-live-sport-2::before { content: '\f32d'; }
.icon-mnav-live-sport-3::before { content: '\f32e'; }
.icon-mnav-live-sport-4::before { content: '\f32f'; }
.icon-mnav-live-sport-5::before { content: '\f330'; }
.icon-mnav-poker-1::before { content: '\f331'; }
.icon-mnav-poker-2::before { content: '\f332'; }
.icon-mnav-poker-3::before { content: '\f333'; }
.icon-mnav-poker-4::before { content: '\f334'; }
.icon-mnav-poker-5::before { content: '\f335'; }
.icon-mnav-promotions-1::before { content: '\f336'; }
.icon-mnav-promotions-2::before { content: '\f337'; }
.icon-mnav-promotions-3::before { content: '\f338'; }
.icon-mnav-promotions-4::before { content: '\f339'; }
.icon-mnav-promotions-5::before { content: '\f33a'; }
.icon-mnav-sport-1::before { content: '\f33b'; }
.icon-mnav-sport-2::before { content: '\f33c'; }
.icon-mnav-sport-3::before { content: '\f33d'; }
.icon-mnav-sport-4::before { content: '\f33e'; }
.icon-mnav-sport-5::before { content: '\f33f'; }
.icon-mnav-virtual-1::before { content: '\f340'; }
.icon-mnav-virtual-2::before { content: '\f341'; }
.icon-mnav-virtual-3::before { content: '\f342'; }
.icon-mnav-virtual-4::before { content: '\f343'; }
.icon-mnav-virtual-5::before { content: '\f344'; }
.icon-tmenu-exclusive-oyunlar-1::before { content: '\f345'; }
.icon-tmenu-exclusive-oyunlar-2::before { content: '\f346'; }
.icon-tmenu-exclusive-oyunlar-3::before { content: '\f347'; }
.icon-tmenu-exclusive-oyunlar-4::before { content: '\f348'; }
.icon-tmenu-exclusive-oyunlar-5::before { content: '\f349'; }
.icon-tmenu-hacksaw-egypt-1::before { content: '\f34a'; }
.icon-tmenu-hacksaw-egypt-2::before { content: '\f34b'; }
.icon-tmenu-hacksaw-egypt-3::before { content: '\f34c'; }
.icon-tmenu-hacksaw-egypt-4::before { content: '\f34d'; }
.icon-tmenu-hacksaw-egypt-5::before { content: '\f34e'; }
.icon-tmenu-masa-oyunlari-1::before { content: '\f34f'; }
.icon-tmenu-masa-oyunlari-2::before { content: '\f350'; }
.icon-tmenu-masa-oyunlari-3::before { content: '\f351'; }
.icon-tmenu-masa-oyunlari-4::before { content: '\f352'; }
.icon-tmenu-masa-oyunlari-5::before { content: '\f353'; }
.icon-tmenu-pragmatic-en-sevilen-slotlar-1::before { content: '\f354'; }
.icon-tmenu-pragmatic-en-sevilen-slotlar-2::before { content: '\f355'; }
.icon-tmenu-pragmatic-en-sevilen-slotlar-3::before { content: '\f356'; }
.icon-tmenu-pragmatic-en-sevilen-slotlar-4::before { content: '\f357'; }
.icon-tmenu-pragmatic-en-sevilen-slotlar-5::before { content: '\f358'; }
.icon-tmenu-turnuva-1::before { content: '\f359'; }
.icon-tmenu-turnuva-2::before { content: '\f35a'; }
.icon-tmenu-turnuva-3::before { content: '\f35b'; }
.icon-tmenu-turnuva-4::before { content: '\f35c'; }
.icon-tmenu-turnuva-5::before { content: '\f35d'; }
.icon-tmenu-video-slotlar-1::before { content: '\f35e'; }
.icon-tmenu-video-slotlar-2::before { content: '\f35f'; }
.icon-tmenu-video-slotlar-3::before { content: '\f360'; }
.icon-tmenu-video-slotlar-4::before { content: '\f361'; }
.icon-tmenu-video-slotlar-5::before { content: '\f362'; }
.icon-flt-free-spin-al-1::before { content: '\f36d'; }
.icon-flt-free-spin-al-2::before { content: '\f36e'; }
.icon-flt-free-spin-al-3::before { content: '\f36f'; }
.icon-flt-free-spin-al-4::before { content: '\f370'; }
.icon-flt-free-spin-al-5::before { content: '\f371'; }
.icon-flt-golden-coins-link-1::before { content: '\f372'; }
.icon-flt-golden-coins-link-2::before { content: '\f373'; }
.icon-flt-golden-coins-link-3::before { content: '\f374'; }
.icon-flt-golden-coins-link-4::before { content: '\f375'; }
.icon-flt-golden-coins-link-5::before { content: '\f376'; }
.icon-flt-jackpots-1::before { content: '\f377'; }
.icon-flt-jackpots-2::before { content: '\f378'; }
.icon-flt-jackpots-3::before { content: '\f379'; }
.icon-flt-jackpots-4::before { content: '\f37a'; }
.icon-flt-jackpots-5::before { content: '\f37b'; }
.icon-flt-megaways-2::before { content: '\f37d'; }
.icon-flt-populer-1::before { content: '\f381'; }
.icon-flt-populer-2::before { content: '\f382'; }
.icon-flt-populer-3::before { content: '\f383'; }
.icon-flt-populer-4::before { content: '\f384'; }
.icon-flt-populer-5::before { content: '\f385'; }
.icon-lc-show-all-1::before { content: '\f386'; }
.icon-lc-show-all-2::before { content: '\f387'; }
.icon-lc-show-all-3::before { content: '\f388'; }
.icon-lc-show-all-4::before { content: '\f389'; }
.icon-lc-show-all-5::before { content: '\f38a'; }
.icon-flt-yeni-1::before { content: '\f38b'; }
.icon-flt-yeni-2::before { content: '\f38c'; }
.icon-flt-yeni-3::before { content: '\f38d'; }
.icon-flt-yeni-4::before { content: '\f38e'; }
.icon-flt-yeni-5::before { content: '\f38f'; }
.icon-lc-baccarat-1::before { content: '\f390'; }
.icon-lc-baccarat-2::before { content: '\f391'; }
.icon-lc-baccarat-3::before { content: '\f392'; }
.icon-lc-baccarat-4::before { content: '\f393'; }
.icon-lc-baccarat-5::before { content: '\f394'; }
.icon-lc-blackjack-2::before { content: '\f396'; }
.icon-lc-blackjack-3::before { content: '\f397'; }
.icon-lc-blackjack-4::before { content: '\f398'; }
.icon-lc-blackjack-5::before { content: '\f399'; }
.icon-lc-poker-2::before { content: '\f39b'; }
.icon-lc-poker-3::before { content: '\f39c'; }
.icon-lc-poker-4::before { content: '\f39d'; }
.icon-lc-poker-5::before { content: '\f39e'; }
.icon-lc-pragmatic-canli-casinolar-1::before { content: '\f39f'; }
.icon-lc-roulette-2::before { content: '\f3a0'; }
.icon-lc-pragmatic-canli-casinolar-4::before { content: '\f3a2'; }
.icon-lc-pragmatic-canli-casinolar-5::before { content: '\f3a3'; }
.icon-lc-premium-roulette-1::before { content: '\f3a4'; }
.icon-lc-premium-roulette-2::before { content: '\f3a5'; }
.icon-lc-premium-roulette-3::before { content: '\f3a6'; }
.icon-lc-roulette-3::before { content: '\f3a7'; }
.icon-lc-premium-roulette-5::before { content: '\f3a8'; }
.icon-lc-roulette-1::before { content: '\f3a9'; }
.icon-lc-roulette-4::before { content: '\f3ac'; }
.icon-lc-roulette-5::before { content: '\f3ad'; }
.icon-act-icon-2-0-1::before { content: '\f3b3'; }
.icon-act-icon-2-0-2::before { content: '\f3b4'; }
.icon-act-icon-2-0-3::before { content: '\f3b5'; }
.icon-act-icon-2-0-4::before { content: '\f3b6'; }
.icon-act-icon-2-0-5::before { content: '\f3b7'; }
.icon-act-live-tv-1::before { content: '\f3b8'; }
.icon-act-live-tv-2::before { content: '\f3b9'; }
.icon-act-live-tv-3::before { content: '\f3ba'; }
.icon-act-live-tv-4::before { content: '\f3bb'; }
.icon-act-live-tv-5::before { content: '\f3bc'; }
.icon-act-login-1::before { content: '\f3bd'; }
.icon-act-login-2::before { content: '\f3be'; }
.icon-act-login-3::before { content: '\f3bf'; }
.icon-act-login-4::before { content: '\f3c0'; }
.icon-act-login-5::before { content: '\f3c1'; }
.icon-act-request-bonus-1::before { content: '\f3c2'; }
.icon-act-request-bonus-2::before { content: '\f3c3'; }
.icon-act-request-bonus-3::before { content: '\f3c4'; }
.icon-act-request-bonus-4::before { content: '\f3c5'; }
.icon-act-shake-and-win-1::before { content: '\f3c7'; }
.icon-act-shake-and-win-2::before { content: '\f3c8'; }
.icon-act-shake-and-win-3::before { content: '\f3c9'; }
.icon-act-shake-and-win-4::before { content: '\f3ca'; }
.icon-act-shake-and-win-5::before { content: '\f3cb'; }
.icon-act-signup-1::before { content: '\f3cc'; }
.icon-act-signup-2::before { content: '\f3cd'; }
.icon-act-signup-3::before { content: '\f3ce'; }
.icon-act-signup-4::before { content: '\f3cf'; }
.icon-act-signup-5::before { content: '\f3d0'; }
.icon-act-telegram-1::before { content: '\f3d1'; }
.icon-act-telegram-2::before { content: '\f3d2'; }
.icon-act-telegram-3::before { content: '\f3d3'; }
.icon-act-telegram-4::before { content: '\f3d4'; }
.icon-act-telegram-5::before { content: '\f3d5'; }
.icon-act-whatsapp-1::before { content: '\f3d6'; }
.icon-act-whatsapp-2::before { content: '\f3d7'; }
.icon-act-whatsapp-3::before { content: '\f3d8'; }
.icon-act-whatsapp-4::before { content: '\f3d9'; }
.icon-act-whatsapp-5::before { content: '\f3da'; }
.icon-act-wheel-of-fortune-1::before { content: '\f3db'; }
.icon-act-wheel-of-fortune-2::before { content: '\f3dc'; }
.icon-act-wheel-of-fortune-3::before { content: '\f3dd'; }
.icon-act-wheel-of-fortune-4::before { content: '\f3de'; }
